<div class="container" id="home-container">
  <div class="jumbotron text-center text">
  <h2> Categories of Elevation Certificate </h2>
<ul>
  <% @categories.each do |category| %>
    <li>
      <%= category.title %>
    </li>
  <% end %>
</ul>
</div>
</div>
